.custom-header{
    background-color: #24355c;
}

.custom-header-title{
    color: #fff !important;
    position: relative;
    left: -10px;
}

.center{
    text-align: center;
}

p{
    font-size: 20px;
    line-height: normal;
}