<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FB Ultimate Filter</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css">-->
    <link rel="stylesheet" href="node_modules/angularjs-toaster/toaster.min.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="css/jumbotron.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body data-ng-app="FBUltimateFilter" >
    
    <toaster-container toaster-options="{'limit':2, 'position-class': 'toast-top-full-width'}"></toaster-container>
    
    <nav class="navbar navbar-inverse navbar-fixed-top custom-header">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand custom-header-title" >Facebook Ultimate Filter</div>
                <div id="how-it-works">
                   How it works
                </div>
            </div>
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--<div class="jumbotron">
        <div class="container">
            <a class="btn btn-primary btn-default" data-ui-sref="hidden-list" role="button">Show Filtered Posts</a>
            <a class="btn btn-primary btn-default" data-ui-sref="settings" role="button">Settings</a>
        </div>
    </div>-->
    
    <nav class="navbar navbar-fixed-top second-nav">
        <div data-ng-controller="NavController" >
            <md-tabs data-ng-show="!isNotAllowed" >
                <md-tab label="Filter Lists" data-ng-click="goTo('list')"></md-tab>
                <md-tab label="Filtered Posts" data-ng-click="goTo('hidden-list')"></md-tab>
                <md-tab label="Settings" data-ng-click="goTo('settings')"></md-tab>
            </md-tabs>
        </div>
    </nav>
    
    <div style="clear:both"></div>
    <div class="content-container" ui-view></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
    <!--<script src="bower_components/ladda/dist/spin.min.js"></script>
    <script src="bower_components/ladda/dist/ladda.min.js"></script>
    <script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>-->
    <script src="node_modules/angularjs-toaster/toaster.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js" ></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script> 
    <script src="node_modules/angular-material/angular-material.min.js"></script> 
    <script src="js/services/PostService.js"></script>
    <script src="js/script.js"></script>
</body>

</html>