
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <div class="filter-list">
                <div class="title">Post Caption Filtered Lists</div>
                <!--<div class="hidden-list" data-ng-repeat="post in hidden_list.post track by $index" data-ng-mouseenter="hovering=true" data-ng-mouseleave="hovering=false">-->
                <div class="hidden-list" data-ng-repeat="post in hidden_list.post track by $index" data-ng-mouseenter="hovering=true" data-ng-mouseleave="hovering=false">
                    <div data-ng-bind-html="highLightKeyWord(post,'post')" ></div>
                    <!--<div class="btn-container" data-ng-class="{'show-this':hovering}" >
                        <button class="btn btn-default action"
                                id="post{{post.index}}"
                                data-ng-show="!post.toShow"
                                data-ng-click="showToFB(post.index, 'post')" >Show</button>
                        <button class="btn btn-default action"
                                data-ng-show="post.toShow"
                                id="posth{{post.index}}"
                                data-ng-click="hideToFB(post.index,'post')" >Hide</button>
                    </div>-->
                </div>
                <div data-ng-show="isLoading" data-ng-include="'templates/loading.html'"></div>
                <div class="no-filter" data-ng-show="hidden_list.post.length == 0 && !isLoading">
                    No Filtered Posts
                </div>
            </div>
            
            <div class="filter-list">
                <div class="title">Shared Post Filtered Lists</div>
                <!--<div class="hidden-list" data-ng-repeat="post in hidden_list.shared track by $index" data-ng-mouseenter="hovering=true" data-ng-mouseleave="hovering=false">-->
                <div class="hidden-list" data-ng-repeat="post in hidden_list.shared track by $index" data-ng-mouseenter="hovering=true" data-ng-mouseleave="hovering=false">
                    <div data-ng-bind-html="highLightKeyWord(post,'shared')" ></div>
                    <!--<div class="btn-container" data-ng-class="{'show-this':hovering}" >
                        <button class="btn btn-default action"
                                id="post{{post.index}}"
                                data-ng-show="!post.toShow"
                                data-ng-click="showToFB(post.index, 'shared')" >Show</button>
                        <button class="btn btn-default action"
                                data-ng-show="post.toShow"
                                id="posth{{post.index}}"
                                data-ng-click="hideToFB(post.index,'shared')" >Hide</button>
                    </div>-->
                </div>
                <div data-ng-show="isLoading" data-ng-include="'templates/loading.html'"></div>
                <div class="no-filter" data-ng-show="hidden_list.shared.length == 0 && !isLoading">
                    No Filtered Posts
                </div>
            </div>
            
            <div class="filter-list">
                <div class="title">Comments</div>
                <!--<div class="hidden-list" data-ng-repeat="post in hidden_list.comment track by $index" data-ng-mouseenter="hovering=true" data-ng-mouseleave="hovering=false">-->
                <div class="hidden-list" data-ng-repeat="post in hidden_list.comment track by $index" data-ng-mouseenter="hovering=true" data-ng-mouseleave="hovering=false">
                    <div data-ng-bind-html="highLightKeyWord(post,'comment')" ></div>
                    <!--<div class="btn-container" data-ng-class="{'show-this':hovering}" >
                        <button class="btn btn-default action"
                                id="post{{post.index}}"
                                data-ng-show="!post.toShow"
                                data-ng-click="showToFB(post.index,'comment')" >Show</button>
                        <button class="btn btn-default action"
                                data-ng-show="post.toShow"
                                id="posth{{post.index}}"
                                data-ng-click="hideToFB(post.index,'comment')" >Hide</button>
                    </div>-->
                </div>
                <div data-ng-show="isLoading" data-ng-include="'templates/loading.html'"></div>
                <div class="no-filter" data-ng-show="hidden_list.comment.length == 0 && !isLoading">
                    No Filtered Posts
                </div>
            </div>
        </div>
    </div>
</div>