
<div>
    <div class="container">
        <div class="add-filter-btn-container">
            <a class="btn btn-primary btn-default" id="add-filter" href="#" role="button">Add Filter</a>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <div class="filter-list" id="caption">
                    <div class="title">Post Caption Filter
                        <a id="delete-btn" data-ng-click="clearByType($event,'fbpost')" class="pointer no-decoration" ><i class="fa fa-trash-o"></i> Delete All</a>
                    </div>
                    <div class="items" data-ng-repeat="filters in posts.filters track by $index">
                        {{ filters.filter }}
                        <span class="case-sen-con" title="Match Case" data-ng-show="filters.case_sen" tooltip >c</span>
                        <span class="v-con" title="Match word" data-ng-show="filters.word_sep" tooltip >m</span>
                        <span data-ng-click="deleteFilter(filters.id,'post')"><i class="fa fa-remove" ></i></span>
                    </div>
                    <div class="no-filter" data-ng-show="posts.isEmpty('fbpost')">
                        No Filter
                    </div>
                </div>
                
                <div class="filter-list" id="shared-post">
                    <div class="title">Shared Post Filter
                        <a id="delete-btn" data-ng-click="clearByType($event,'shared')" class="pointer no-decoration" ><i class="fa fa-trash-o"></i> Delete All</a>
                    </div>
                    <div class="items" data-ng-repeat="filters in posts.shared_filters track by $index">
                        {{ filters.filter }}
                        <span class="case-sen-con" title="Match Case" data-ng-show="filters.case_sen" tooltip >c</span>
                        <span class="v-con" title="Match word" data-ng-show="filters.word_sep" tooltip >m</span>
                        <span data-ng-click="deleteFilter(filters.id,'shared')"><i class="fa fa-remove" ></i></span>
                    </div>
                    <div class="no-filter" data-ng-show="posts.isEmpty('shared')">
                        No Filter
                    </div>
                </div>
                <div class="filter-list" id="comment">
                    <div class="title">Comment Filter
                        <a id="delete-btn" data-ng-click="clearByType($event,'comment')" class="pointer no-decoration" ><i class="fa fa-trash-o"></i> Delete All</a>
                    </div>
                    <div class="items" data-ng-repeat="filters in posts.comment_filters track by $index">
                        {{ filters.filter }}
                        <span class="case-sen-con" title="Match Case" data-ng-show="filters.case_sen" tooltip >c</span>
                        <span class="v-con" title="Match word" data-ng-show="filters.word_sep" tooltip >m</span>
                        <span data-ng-click="deleteFilter(filters.id,'comment')"><i class="fa fa-remove" ></i></span>
                    </div>
                    <div class="no-filter" data-ng-show="posts.isEmpty('comment')">
                        No Filter
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

    <div class="container add-filter-container">
        <div class="row">
            <div class="col-md-12">
                <form class="" name="addFilterForm" data-ng-submit="addFilter(filter, user_settings.settings)" novalidate="novalidate">
                    <div class="form-group" >
                        <label>Filter Type</label><br />
                        <!--<select name="filter-type" id="filter-type" class="form-control" data-ng-model="filter.type">
                                <option value="fbpost">Posts</option>
                                <option value="shared">Shared Posts</option>
                                <option value="comment">Comments</option>
                            </select>-->
                        <div class="checkbox inline-elem">
                            <label for="check-1">
                                <input type="checkbox" id="check-1" data-ng-click="updateSubBtn()" data-ng-model="filter.type[0].checked"  ><span class="f-normal">Posts</span>
                            </label>
                        </div>
                        <div class="checkbox inline-elem">
                            <label class="f-normal" for="check-2">
                                <input type="checkbox" id="check-2" data-ng-click="updateSubBtn()" data-ng-model="filter.type[1].checked" >Shared Posts
                            </label>
                        </div>
                        <div class="checkbox inline-elem">
                            <label class="f-normal" for="check-3">
                                <input type="checkbox" id="check-3" data-ng-click="updateSubBtn()" data-ng-model="filter.type[2].checked"  >Comments
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="filter-text">Keyword(s)</label>
                        <input type="text" class="form-control" id="filter-text" data-ng-model="filter.filter" placeholder="Keywords" autocomplete="off"
                            required autofocus>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" data-ng-model="user_settings.settings.case_sen" > Match Case
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" data-ng-model="user_settings.settings.word_sep"> Match whole word only
                            </label>
                        </div>
                    </div>
                    <button type="submit" id="add-btn" class="btn btn-primary" data-ng-disabled="!hasSelectedType" >Add Filter</button>
                    <button type="button" id="cancel-btn" class="btn btn-warning">Done</button>
                </form>
            </div>
        </div>
    </div>
</div>