<div data-ng-controller="NavController" class="nav-menu">
    <md-tabs>
        <md-tab label="Filter Lists" md-on-select="goTo('list')"></md-tab>
        <md-tab label="Show Filtered Posts" md-on-select="goTo('hidden-list')"></md-tab>
        <md-tab label="Settings" md-on-select="goTo('settings')"></md-tab>
    </md-tabs>
</div>