<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h3>This plugin only works in facebook webpage.</h2>
        </div>
    </div>
</div>