
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <div class="settings-title" >General Settings</div>
            <form class="" name="genSettings" data-ng-submit="setSettings(user.settings)" novalidate="novalidate">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" data-ng-model="user.settings.case_sen" > Match case
                        </label>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" data-ng-model="user.settings.word_sep" > Match whole word only
                        </label>
                    </div>
                </div>
                <button type="submit" id="save-btn" class="btn btn-primary">Save</button>
                <!--<button type="button" class="btn btn-warning"
                        data-ng-click="backDefault($event)" >Back to Default</button>-->
            </form>
        </div>
    </div>
</div>